body {
    background-image: url("./peppa.png");
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }

   h2 {color: white}